<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="high.rivamed.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.example.USB_PERMISSION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
					 tools:ignore="ProtectedPermissions"/>


    <application
        android:name="high.rivamed.myapplication.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/myapplication_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        android:largeHeap="true">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.MyInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.LoginInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyLossActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyProfitActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.StockMidTypeActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.SelInOutBoxTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.FastInOutBoxActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutBoxBingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutFormActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.NewOutFormConfirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutMealActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyDetailsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.RegisteActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize"
    />

        <activity
            android:name=".activity.NewOutMealBingConfirmActivity"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.TestLoginActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".devices.TestDevicesActivity"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.LoginUnconfirmActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.LoginToBePutInStorageActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TemPatientBindActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PatientConnActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.LoginStockStatusActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.TakeNotesDetailsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.StockGroupCstActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyGroupCstActivity"
            android:screenOrientation="sensorLandscape" />
        <receiver android:name=".http.ContentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MessageActivity"></activity>
        <!--<receiver android:name=".receiver.NetWorkReceiver" android:enabled="true" android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE"/>-->
                <!--<action android:name="android.Net.wifi.WIFI_STATE_CHANGED"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <service
            android:name="high.rivamed.myapplication.service.ScanService"
            android:exported="true">
        </service>
    </application>

</manifest>