<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="high.rivamed.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.example.USB_PERMISSION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FLASHLIGHT" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>


    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/myapplication_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="design_width"
            android:value="1920"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1200"></meta-data>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.MyInfoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.LoginInfoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyLossActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyProfitActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.StockMidTypeActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.InOutBoxTwoActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutBoxFoutActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutBoxBingActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutFormActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutFormConfirmActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.OutMealActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TimelyDetailsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.RegisteActivity"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.OutMealBingConfirmActivity"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".activity.TestLoginActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".devices.TestDevicesActivity"
            android:screenOrientation="sensorLandscape" />

        <!--<receiver android:name=".utils.NetWorkReceiver" android:enabled="true" android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE"/>-->
                <!--<action android:name="android.Net.wifi.WIFI_STATE_CHANGED"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>