<?xml version="1.0" encoding="utf-8"?>
<manifest package="high.rivamed.myapplication"
		  xmlns:tools="http://schemas.android.com/tools"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="com.android.example.USB_PERMISSION"></uses-permission>


	<application
		android:name=".base.App"
		android:allowBackup="true"
		android:icon="@mipmap/logo"
		android:label="@string/myapplication_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:replace="android:label"
		>

		<meta-data
			android:name="design_width"
			android:value="1920">
		</meta-data>
		<meta-data
			android:name="design_height"
			android:value="1200">
		</meta-data>

		<activity
			android:name=".activity.LoginActivity"
			android:screenOrientation="landscape"
			android:windowSoftInputMode="adjustPan"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
		android:name=".activity.HomeActivity"
		android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.MyInfoActivity"
			android:launchMode="singleInstance"
			android:screenOrientation="landscape"
			/>
		<activity
			android:name=".activity.LoginInfoActivity"
			android:launchMode="singleInstance"
			android:screenOrientation="landscape"
			/>
		<activity
			android:name=".activity.TimelyLossActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.TimelyProfitActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.StockMidTypeActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.InOutBoxTwoActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.OutBoxFoutActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.OutBoxBingActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.OutFormActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.OutFormConfirmActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.OutMealActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.TimelyDetailsActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".activity.RegisteActivity"
			android:screenOrientation="landscape"/>

		<activity
			android:name=".activity.OutMealBingConfirmActivity"
			android:screenOrientation="landscape"/>

		<activity
			android:name=".activity.TestLoginActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".devices.TestDevicesActivity"
			android:screenOrientation="landscape"/>
	</application>

</manifest>