<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rivamed">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />
</manifest>